# Django
# ------------------------------------------------------------------------------
USE_DOCKER=yes
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True

# Redis
# ------------------------------------------------------------------------------
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0

# PostgreSQL
# ------------------------------------------------------------------------------
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=clama_backend
POSTGRES_USER=clama_backend
POSTGRES_PASSWORD=your-password-here

# Flower
# ------------------------------------------------------------------------------
CELERY_FLOWER_USER=admin
CELERY_FLOWER_PASSWORD=your-flower-password
